charity:
  name:
  admin:
    email:

tax:
  chy3:
    minimum_donation: 250.0
    consider_last_n_years: 3

db:
  server:
  port: 5432
  admin_user:
  admin_password:
  operational_db_name:
  restricted_user:
  restricted_password:
  protocol: postgresql+psycopg2
  admin_connection: "{protocol}://{admin_user}:{admin_password}@{server}:{port}/postgres"
  restricted_connection: "{protocol}://{restricted_user}:{restricted_password}@{server}:{port}/{operational_db_name}"

logging:
  version: 1
  formatters:
    simple:
      format: '%(asctime)ss - %(levelname)s - %(name)s - %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      level: DEBUG
      formatter: simple
      stream: ext://sys.stdout
  loggers:
    default:
      level: DEBUG
      handlers: [console]
      propagate: no
    sqlalchemy.engine:
      level: INFO
      handlers: [console]
      propagate: no
    a_tuin:
      level: INFO
      handlers: [console]
      propagate: no
    sanic:
      level: INFO
      handlers: [console]
      propagate: no
    graphql.execution.executor:
      level: DEBUG
      handlers: [console]
      propagate: no
  root:
    level: INFO
    handlers: [console]

folders:
  root_package: glod
  config: config
  resources: resources

gdrive:
  credentials_file:
  ledger_sheet_id:
  tax_rebates_sheet_id:
  statement_items_sheet_name: "bank statements"
  parish_list_sheet_id:
  account_statements_folder: account.statements
  chy3_template_doc_id:

ledger_sheet:
  freeze:
    rows: 1
  column_formats:
    -
      ranges: A
      format:
        numberFormat:
          type: TEXT
    -
      ranges: B
      format:
        numberFormat:
          type: DATE
          pattern: dd/mm/yyy
        horizontalAlignment: RIGHT
    -
      ranges: C:D
      format:
        numberFormat:
          type: TEXT
    -
      ranges: E:G
      format:
        numberFormat:
          type: NUMBER
          pattern: "#,##0.00"
        horizontalAlignment: RIGHT
  formula_templates:
    -
    -
    - =if(eq(I{row_no}, "opening"), 1000000, J{prev_row}+1)
    - =if(isblank(H{row_no}), iferror(regexextract(C{row_no}, "\*ATMLDG .* [A-Z] (L[0-9]*)"), C{row_no}), H{row_no})
    - =if(ISTEXT(K{row_no}), if(EQ("LODGMENT", LEFT(K{row_no}, 8)), value(mid(K{row_no}, 9, 12)), if(iserror(FIND(LEFT(K{row_no}, 2), "L1|L2|D0|D1|D2|E0|E1|E2|50")), "", LEFT(K{row_no}, 6))), K{row_no})
    - =CONCATENATE(A{row_no}, "|", if(L{row_no}="", J{row_no}, L{row_no}))
    - =E{row_no}*-1+F{row_no}
    - =if(eq(I{row_no}, "opening"), G{row_no}, round(O{prev_row}+N{row_no}, 6))
    - =if(or(ISBLANK(G{row_no}), eq("N/A", G{row_no})), "", EQ(G{row_no}, O{row_no}))
    - =year(datevalue((B{row_no})))
    - =month(datevalue(B{row_no}))
    - =day(datevalue(B{row_no}))
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    -
    - =if(V{row_no}="", "", Q{row_no}=V{row_no})
    - =if(AD{row_no}="", "", AD{row_no}=sum(E{row_no}:F{row_no}))

stripe:
  api_key:

sumup:
  api_key:
